body {background-color:black;font-family:arial;color:white}
h1{color:grey;font-family:verdana}
.maindiv {
    background-color:WHITE;
    color:black;
    width:300
    display: inline-block;
    padding:20px
    border: 2px white;
    border-radius: 25px;
    text-align: center;


}

.highlight {
  background-color: yellow;
}

